@import "~bootswatch/dist/darkly/variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Make form controls dark
.form-control, .form-control:active, .form-control:focus, .form-control:focus-visible, .form-select {
  background-color: $gray-700 !important;
  color: $white;
}

// White icons on buttons as buttons are dark
button i.fas {
  color: $white;
}