{% extends "page.twig" %}

{% block content %}
    <h1>Not found</h1>
    <p>The requested URL {{ url }} was not found!</p>
    <a href="/" class="btn btn-primary btn-sm">Go to overview</a>
{% endblock %}