{% extends "page.twig" %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for feed in feeds %}
                <tr class="feed-row" data-name="{{ feed.name }}">
                    <td>{{ feed.name }}</td>
                    <td>{{ feed.url }}</td>
                    <th>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary show-url" data-bs-toggle="modal" data-bs-target="#show-url-modal" title="Show URL of feed"><i class="fas fa-globe"></i></button>
                            <a href="/feeds/{{ feed.name }}/edit" class="btn btn-primary" title="Edit feed"><i class="fas fa-edit"></i></a>
                            <button class="btn btn-danger remove-feed" data-bs-toggle="modal" data-bs-target="#remove-feed-modal" title="Remove feed"><i class="fas fa-trash"></i></button>
                        </div>
                    </th>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No feeds added yet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="">
        <a href="/add-feed" class="btn btn-primary">Add feed</a>
    </div>

    <div class="modal fade" tabindex="-1" id="show-url-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">URL of feed <b id="show-url-modal-feed"></b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="url" class="form-control" id="show-url-modal-url" readonly/>
                        <button class="btn btn-outline-secondary" id="show-url-modal-copy"><i class="fas fa-copy"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="remove-feed-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remove feed <b class="remove-feed-modal-feed"></b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to <b>remove</b> the feed <b class="remove-feed-modal-feed"></b>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="remove-feed-modal-confirm">Remove</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}