<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-Language" content="en"/>

        <title>RSS Filter</title>

        <link rel="stylesheet" href="{{ asset("main.css") }}"/>
        <script src="{{ asset("main.js") }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fa-solid fa-rss-square"></i> RSS Filter</a>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>