<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-Language" content="en"/>

        <title>RSS Filter</title>

        <link rel="stylesheet" href="{{ asset("main.css") }}"/>
        <script src="{{ asset("main.js") }}"></script>
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>